.wrap-view {
    width: 89%;
    max-width: 833px;
    margin: auto;

    .wrap-card {
        position: relative;
        z-index: 2;

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            background: rgba(36, 39, 41, 0.1);
            backdrop-filter: blur(40px);
        }

        /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background: #181b1c;
        }

        border-radius: 10px;
        padding: 20px;
        width: 100%;

        .wrap-card-grid {
            margin: 0;
            width: 100%;
        }

        .wrap-card-header {
            .wrap-card-header-title {
                font-family: Montserrat Bold;
                font-weight: bold;
                font-size: 20px;
                color: #ffffff;
                margin-bottom: 4px;
            }
        }

        .wrap-card-metrics {
            display: flex;
            width: 100%;
            padding: 0;
            text-align: center;
            margin-top: 10px;

            .wrap-card-conversion,
            .wrap-card-balance {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                .wrap-card-metrics-title {
                    font-family: Montserrat Medium;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    color: rgba(255, 255, 255, 0.6);
                    margin-bottom: 2px;
                }

                .wrap-card-metrics-value {
                    font-family: Montserrat Bold;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                    color: #ffffff;
                }
            }
        }

        .wrap-card-action-input {
            width: 100%;

            background: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            outline: none;

            .MuiOutlinedInput-input {
                font-family: Montserrat Medium;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: rgba(255, 255, 255, 0.6);
                padding: 14px 20px;
            }

            .MuiOutlinedInput-notchedOutline {
                border-color: rgba(255, 255, 255, 0.2) !important;
            }

            .wrap-card-action-input-btn {
                cursor: pointer;

                p {
                    font-family: Montserrat SemiBold;
                    font-weight: 600;
                    font-size: 18px;
                    color: #ffffff;
                }
            }
        }

        .wrap-container {
            margin: 30px 30px 20px 30px;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .wrap-input {
                margin: 0 !important;

                .wrap-action-input-btn {
                    cursor: pointer;

                    p {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        color: #ffffff;
                    }
                }

                .wrap-action-input-text {
                    font-family: Montserrat Medium;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.6);
                }
            }

            .wrap-toggle {
                margin: 5px 0 5px 0;
            }

            .wrap-btn {
                cursor: pointer;
                margin-top: 20px;
                background: rgba(255, 255, 255, 0.2);
                box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
                border-radius: 10px;
                padding: 14px 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: #ffffff;
                }
            }

            .wrap-help-text {
                margin-top: 20px;

                p {
                    font-family: Montserrat Light;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}

.data-row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;

    .data-row-name {
        font-family: Montserrat Medium;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
    }
    .data-row-value {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
    }
}

@media screen and (max-width: 600px) {
    .wrap-view {
        .wrap-card {
            .wrap-card-metrics {
                .wrap-card-apy,
                .wrap-card-tvl,
                .wrap-card-index {
                    align-items: flex-start;
                }

                .wrap-card {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .wrap-card-area {
                .wrap-card-action-area {
                    .wrap-card-action-row {
                        flex-direction: column;
                        .wrap-card-tab-panel {
                            margin-left: 0;
                            margin-top: 20px;
                            min-width: none;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1240px) {
    .wrap-view {
        width: 100%;
    }
}
